.Pokecard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 10rem;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .5);
    width: 12rem;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.Pokecard :not(:last-child) {
    margin-bottom: 1rem;
}

.Pokecard .Pokecard__name {
    text-transform: capitalize;
    font-size: larger;
}

.Pokecard .Pokecard__image {
    height: 100%;
    max-height: 7rem;
}

.Pokecard .Pokecard__type {
    text-transform: capitalize;
}

.Pokecard .Pokecard__exp {
    
}
