.Lottery {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px dashed currentColor;
    border-top-style: solid;
    border-top-width: 5px;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
}

.Lottery:not(:last-child) {
    margin-bottom: 2rem;
}

.Lottery .balls {
    display: flex;
    flex-wrap: wrap;
}

.Lottery .balls :not(:last-child) {
    margin-right: 1rem;
}

.Lottery .balls.animated>:nth-child(2n) {
    animation: spin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

.Lottery .balls.animated>:nth-child(2n+1) {
    animation: spin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite reverse;
}

.Lottery .title {
    margin: 0;
    font-size: 2rem;
}

.Lottery .button {
    appearance: none;
    outline: none;
    min-width: 10rem;
    border: 2px dashed currentColor;
    padding: 1rem 5rem;
    font-size: large;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'TT Commons', sans-serif;
}

@keyframes spin {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
        perspective: 100px;
        /* backface-visibility: hidden; */
    }

    to {
        transform: rotate3d(1, 0, 1, 360deg);
        perspective: 100px;
        /* backface-visibility: hidden; */
    }
}