.Ball {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: rgb(241, 65, 11);
    color: #eee;
    border-radius: 100rem;
    font-size: larger;
    font-weight: bold;
    border: 3px solid currentColor;
}

.Ball:hover {
    animation: rotate 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    perspective: 100px;
}

@keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}